html,
body {
  margin: 0;
  padding: 0;
  cursor: url(https://cdn.glitch.global/15483cb7-620a-4733-988f-f66dcd7d3026/cursors2.png?v=1674499661845),
    auto;
  background-color: #f3e4e4;
  font-family: "Courier New", monospace;
}

#button {
  border: 2px red solid;
  color: red;
  text-align: center;
  font-size: 24px;
  font-family: "Courier New", monospace;
  cursor: pointer;
  transform: translate(200%, 70%);
  border-radius: 8px;
  transition-duration: 0.4s;
}

#button:hover  {
  font-style: italic;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0), 0 10px 40px 0 rgba(255,255,255,255.0);
  
}
.parent {
  position: sticky;
  top: 40%;
  left: 50%;
  max-width: 70%;
  height: auto;
  transform: translate(-20%, -15%);
  
}

.image1 {
  position: fixed;
  border: 1px red solid;
  /*   height:auto; */
  max-width: 100%;
  display: block;
}

/* #hat{
  width: 9%;
  z-index:8;
 position: absolute;
  top: 112px;
  left: 436px;
}
  
  #hat2{
  width: 20%;
  z-index:8;
 position: absolute;
  top: 112px;
  left: 436px;
  */
 
  
  
}

img{
  width: 100%;
  
}

.image2 {
  position: fixed;
  border: 1px red solid;
  /*   height:auto; */
  max-width: 100%;
  display: none;
}

.move {
  display: none;
}

/*   .circles{
    position:absolute;
  
   background-color:blue;
    top: 20%;
    left: 13%;
    border-radius: 120px;
  
  } */
